services:

  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"
    networks:
      - spring-network

  app:
    image: narasimha1247/narasimha:latest
    container_name: spring-app
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    networks:
      - spring-network

networks:
  spring-network:
