version: "3.9"

services:

  mysql:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"

  app:
    build: ./app
    container_name: spring-app
    depends_on:
      - mysql
    ports:
      - "8080:8080"